# Zkopíruj jako .env a vyplň hodnoty
# cp .env.example .env
# PowerShell: Copy-Item .env.example .env

# Django
SECRET_KEY=zmena-toto-na-nahodny-retezec-v-produkci
DEBUG=false
ALLOWED_HOSTS=localhost 127.0.0.1 tvoje.domena.cz
USE_SQLITE=false
USE_INMEMORY_CHANNEL_LAYER=false

# PostgreSQL
DB_NAME=gameserver_panel
DB_USER=mcpanel
DB_PASSWORD=silne-heslo
DB_HOST=127.0.0.1
DB_PORT=5432

# Redis
REDIS_URL=redis://127.0.0.1:6379/0

# Lokální vývoj bez PostgreSQL a Redis:
# DEBUG=true
# USE_SQLITE=true
# USE_INMEMORY_CHANNEL_LAYER=true
# ALLOWED_HOSTS=localhost 127.0.0.1
